body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4b4a4a;
    color: #fff;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    height: 100%;
}

.container-left, .container-right {
    flex: 1;
    padding: 20px;
    height: 100vh;
}

.container-left {
    flex: 1;
    padding: 20px;
    background-color: #40443f;
}

.container-right {
    flex: 3;
    padding: 20px;
    background-color: #4b4a4a;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
}

.project-container-left {
    flex: 2;
    padding: 20px;
    background-color: #3b5335;
}

.project-container-right {
    flex: 2;
    padding: 0px;
    border: #3b5335;
    border-style: solid;
    border-width: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

img:hover {
    transform: scale(1.2) translateX(-10%);
    transition: transform 0.3s ease;
}

h1, h2 {
    color: rgb(77, 228, 190);
}

a {
    color: #65dde6;
    text-decoration: none;
}

.project {
    margin-bottom: 30px;
}

.project h2 {
    color: rgb(165, 235, 208);
    margin-top: 0;
}

.project p {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}